{% extends 'FrontendBundle::layout.html.twig' %}
{% import 'FrontendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'FrontendBundle:Macros:buttons.html.twig' as buttons %}

{% block content %}
	
    <h1>Editar Post</h1>

    {{ form(edit_form) }}

    {{ buttons.back(path('post')) }}
    {{ form(delete_form) }}

{% endblock %}
