{% extends '::base.html.twig' %}
{% import 'FrontendBundle:Macros:alerts.html.twig' as alerts %}

{% block stylesheets %}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {% block header %}

            {% block navbar %}
                {% include 'FrontendBundle:Homepage:_navbar.html.twig' %}
            {% endblock %}

            {% block flashes %}
                {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'fos_user_success'] %}
                    {% for flash in flashes %}
                        {% if name in ['fos_user_success', 'success']  %}
                            {{ alerts.success( flash|trans, 'autohide' ) }}
                        {% else  %}
                            {{ alerts.error( flash|trans ) }}
                        {% endif  %}

                    {% endfor %}
                {% endfor %}
            {% endblock %}

        {% endblock %}

        {% block main %}
                <div class="row-fluid">
                    <div class="span12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="container">
                  <div class="row-fluid">
                    <div class="span12">
                        <hr>
                        <p class="text-center">{{ global.app.name }} - {{ global.app.version }}</p>
                    </div>
                  </div>
                </div>
            </footer>
        {% endblock %}
    </div>
{% endblock %}
