<form action="{{ path('cambiapwd') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-save"></i> {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
