{% extends "FrontendBundle::layout.html.twig" %}

{% block content %}

<div class="page-header">
    <h3>Cambio de contraseña</h3>
</div>
{% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}




