{% extends 'FrontendBundle::layout.html.twig' %}
{% import 'FrontendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'FrontendBundle:Macros:buttons.html.twig' as buttons %}

{% block content %}

  <div class="alert alert-info">
    {% if app.user %}
        {% set usuario = (app.user.firstName ~', '~ app.user.lastName) %}
    {% else %}
        {% set usuario = "" %}
    {% endif %}
      Bienvenido <strong>{{ usuario }}</strong> al {{ global.app.name }}
  </div>

  <h1>¿Qué es Proyecto base?</h1>
  <hr>
  <blockquote>Es una configuración inicial para el desarrollo de sistemas web de gestión con Symfony 2. Incluye una selección de los mejores bundles y librerías.</blockquote>
  <p>Visitá una demo <a href="{{path('demo')}}">Aquí</a></p>



{% endblock %}